<% include ../partials/header %>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6 pt-5">
		<div class="card p-3">
			<p class="campaign-title">
				<strong><%= campaign[0].title %></strong>
			</p>
			<span class="img-container">
				<img src="<%= campaign[0].image %>" height="200" width="250">
			</span>
			<p><strong>Started by:</strong> <%= campaign[0].company.username%></p>
			<p><strong>Description:</strong> <%= campaign[0].description %></p>
			<p><strong>Start:</strong> <%= campaign[0].start_time %></p>
			<p><strong>End:</strong> <%= campaign[0].end_time %></p>
			<p><strong>Reward:</strong> <%= campaign[0].reward %></p>
			<p><strong>Stamps needed:</strong> <%= campaign[0].stamps_needed %></p>
			<a href="/customer/<%= campaign[0].title %>" type="submit" class="btn btn-primary" form="show_card">Show</a>
		</div>
	</div>
	<!--
	<div class="col-sm-3">
		<div class="card p-3">
			<p>campaign object for debugging: <%= //campaign %></p>
		</div>
	</div>
	-->
</div>

<% include ../partials/footer %>
