<% include ../partials/header %>

<h1>All campaigns list:</h1>
<ul>
<% for(var i = 0; i < campaigns.length; i++) { %>
	<li>
	<p>Title: <%= campaigns[i].title %></p>
	<img src="<%= campaigns[i].image %>"" height="50" width="50">
	<p>
	Description: <%= campaigns[i].description %> | 
	Start: <%= campaigns[i].start_time %> | 
	End: <%= campaigns[i].end_time %> | 
	Reward: <%= campaigns[i].reward %> |
	Stamps needed: <%= campaigns[i].stamps_needed %> |
	<a href="/campaigns/<%= campaigns[i].id %>">view</a>
	</p></li>
<% } %>
	<br>

</ul>
<% include ../partials/footer %>