<% include ../partials/header %>

<h1><%= campaign.title %></h1>
<img src="<%= campaign.image %>" width="200px" height="200px">
<form action="/campaigns/<%= campaign.id %>" id="get_card_form" method="POST"></form>
<p>
Description: <%= campaign.description %> | 
Start: <%= campaign.start_time %> | 
End: <%= campaign.end_time %> | 
Reward: <%= campaign.reward %> |
Stamps needed: <%= campaign.stamps_needed %> | 
<input type="submit" class="btn btn-primary" form="get_card_form" value="Get Card">
</p>

<% include ../partials/footer %>