<% include ../partials/header %>

<h1>All rewards list:</h1>
<ul>

<% for(var i = 0; i < rewards.length; i++) { %>
	<li>
	<p>Title: <%= rewards[i].title %></p>
	<br>
	<img src="<%= rewards[i].image %>" height="50" width="50">
	<br>
	<p><%= rewards[i].description %></p>
	<br>
	<p><%= rewards[i].company.name %></p>
	<br>
	<% include ../partials/request %> | <a href="/rewards/<%= rewards[i].id %>">view</a>
	</li>
<% } %>
	<br>
</ul>

<% include ../partials/footer %>
