<% include ../partials/header %>
<h1><%= user.username %></h1>
<br>
<h1>Cards: <%= cards.length %></h1>
<br>
<h1>My Stamp cards</h1>
<br>
<ul>

<% for(var i = 0; i < cards.length; i++) { %>
<form action="#" id="request_stamp_form"</form>
	<li><p>
	Number: <%= cards[i].id %> | 
	Campaign: <%= cards[i].campaign.title %> | 
	Stamps: <%= cards[i].stamps.length %> | 
	<% if(cards[i].redeemed) { %>
	<strike>Redeemed</strike>
<% } else { %>
	<input type="submit" class="btn btn-primary" form="request_stamp_form" value="Request Stamp">
<% } %>
	<a href="/customers/CUSTOMERNAME/cards/<%= cards[i]._id %>">View</a> 
	</p></li>
<% } %>

</ul>

<br>




<% include ../partials/footer %>