<% include ../partials/header %>
<br>

<form action="/stamp" id="get_stamp_form" method="POST">
			<div class="invisible">
			<input type="hidden" name="company" value="<%= campaign[0].company.username %>">
			<input type="hidden" name="campaign" value="<%= campaign[0].title %>">
			<input type="hidden" name="identifier" value="insert location name">
			</div>
			</form>


<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="card p-3">
			<h1>#<%= campaign[0].title %></h1>
			<!-- TÄMÄN SAA JA PITÄÄKIN KORVATA OMALLA TOTEUTUKSELLA. -->
			<table style="border: 1px solid black; border-collapse: collapse;">
				<% for(var i = 0; i < campaign[0].stamps_needed; i++) { %>
					<% if((i % 2) === 0) { %>
					<tr>
						<td style="border: 1px solid black;  width:100px; height:100px;">
						<% if(i < stamps.length) { %>
							<i class="fas fa-coffee"></i>
						<% } %>
						</td>
					<% } else { %>
						<td style="border: 1px solid black;  width:100px; height:100px;">
						<% if(i < stamps.length) { %>
							<i class="fas fa-coffee"></i>
						<% } %>
						</td>
					</tr>
					<% } %>
				<% } %>
			</table>

			<br>
			<div class="row">
				<div class="col-sm-6">
					<input type="submit" class="btn btn-primary" form="get_stamp_form" value="Get Stamp">
				</div>
				<br>
				<div class="col-sm-6">
					<% if(campaign[0].stamps_needed <= stamps.length) { %>
						<button class="btn">Redeem reward NOT IMPLEMENTED</button>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card p-3">
			<p>user object for debugging: <%= user %></p>
		</div>
		<div class="card p-3">
			<p>campaign object for debugging: <%= campaign %></p>
		</div>
		<div class="card p-3">
			<p>stamps object for debugging: <%= stamps %></p>
		</div>
	</div>
</div>



<% include ../partials/footer %>
